/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/public/vendor
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.phpstorm.meta.php
/public/css
/public/fonts
/public/font
/public/js
/public/images
/public/flags
/public/payment
.DS_Store
Nginx_1.17_vhost.conf
/.vscode
/public/doc
TODO
/public/manifest.json
/public/assets
/public/*_vhost.conf